h2
{
color: blueviolet;
}
body
{
background-color: #383A39;
margin: 0;
padding: 0;
}
footer
{
    background-color: rgb(93, 147, 129); 
    margin: 0;
    padding: 0;
    border-top: solid 4px #000000;
}
header{
    background-color: #C8BBAB ;
    margin: 0;
    padding: 0;
}
main{
    background-color: #574F42;
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6
{
    margin: 0;
    text-shadow: 0px 4px 10px rgba(132, 0, 0, 0.8)
}
ol{
    margin: 0;
    list-style: none;

}
a{
    text-decoration: none;
}
.padding-text
{
    padding: 10px;
}
li a{
    color: brown;
}
.kartinka
{
    border: 20px solid #000000;
}
button
{
    border: 10px solid #383A39;
    border-radius: 80%;
    color: coral;
    background-color: blue;
    font-size: 16px;
}